
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
  text-align: center;
  font-family:  'Montserrat', 'sans-serif';
}
.header{
  background-color: #2436bf;
    color: white;
}
.check-btn{
    max-width: 30%;
    margin: auto;
    padding: 0.5rem 2.5rem;
    border-color: #2436bf;
    cursor: pointer;
    background-color: #2436bf;
    color: white;
}
input,label{
  width: 25%;
  margin: auto;
}
input{
  background-color:#dfecf0;
}
.container
{
  display: flex;
  flex-direction: column;
  color: black;
  margin: auto;
  max-width: 50%;
}
.cash-return{
    border-collapse: collapse;
}
.footer{
  background-color: #2436bf;
  color: white;
  padding: 2rem 2.5rem;
  border-bottom-left-radius: 1rem;
}
.list{
  list-style: none;
}
.inline-list{
display: inline;
padding: 0rem 2.5 rem;
}
.inline-links{
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}